{% render 'partials/head.liquid' %}

    <div>
        {%for story in stories%}
            <img src="https://fdnd-agency.directus.app/assets//{{ story.image }}">
            <p>{{ story.title }}</p>
        {% endfor %}
    </div>